/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0c7;
    margin: 0;
    padding: 0;
}

/* Form Container */
#survey-form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}}