* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, rgba(135,1,1,0.8463760504201681) 2%, rgba(6,0,2,0.8575805322128851) 73%); 
}

#image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 100%;
    height: auto;
    opacity: 79%;
}

h1, h2 {
    color: rgb(177, 131, 14);
    }
    
p {
        color: rgb(146, 107, 9);
        font-family: cursive;
}

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: rgb(177, 131, 14);
    font-size: 45px;
    text-align: center;
}

#tribute-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

#sisters {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

#img-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}